footer
  span(style='float: right;') © 2016
    span &nbsp;
    a(href='mailto:liu.anray@gmail.com') Andrew A. Liu
  a(id='link-to-local' target='_blank') local
  span &nbsp;&nbsp;|&nbsp;&nbsp;
  a(id='link-to-production' target='_blank') production
  span &nbsp;&nbsp;|&nbsp;&nbsp;
  a(id='link-to-show-reminder') show reminder
  script(src='/static/footer.js')
