@import url('shared.css');

.home-container {
  position: absolute;
  top: 45%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.page-title {
  font-size: 3em;
  text-align: center;
  padding: 0 1em 1em 1em;
  color: #252525;
}

.instructions {
  font-size: 1.5em;
  text-align: center;
}

#create-page-form {
  text-align: center;
}

#create-page-button {
  padding: 1em 2em;
  background-color: green;
  border: none;
  border-radius: 0.5em;
  color: white;
  font-size: 1.5em;
}

#create-page-button:hover {
  background-color: darkgreen;
}
