* {
  margin: 0;
  padding: 0;
  font-family: Andada;
}

body {
  height: 100%;
  color: #545454;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 40em;
  padding: 2em;
  border-top: 1px solid gainsboro;
  border-bottom: 1px solid gainsboro;
}

a {
  color: royalblue;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  color: blue;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25em;
  font-size: 0.75em;
}
