* {
  margin: 0;
  padding: 0;
  font-family: Andada;
}

ol {
  padding-left: 1em;
}

body {
  background-color: #C7974F;
}

.page-title {
  font-size: 3em;
  text-align: center;
  padding: 1em;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 40em;
  background-color: #F3DB91;
  padding: 2em;
  border-radius: 1em;
}

.instructions {
  font-size: 1.5em;
  text-align: center;
}

#create-page-form {
  text-align: center;
}

#create-page-button {
  padding: 1em 2em;
  background-color: green;
  border: none;
  border-radius: 0.5em;
  color: white;
  font-size: 1.5em;
}

#create-page-button:hover {
  background-color: darkgreen;
}

#task-name {
  font-size: 2em;
}

#task-name-editor {
  display: none;
  font-size: 2em;
  width: 20em;
  height: 1.5em;
}

#hide-note {
  padding: 0 1em;
  color: royalblue;
  cursor: pointer;
}

.small-editor {
  display: none;
  width: 40em;
  height: 4em;
  font-size: 1em;
}

h3 {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

header {
  padding: 1.25em;
  background-color: #F3DB91;
  text-align: center;
  font-size: 0.75em;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25em;
  background-color: #F3DB91;
  text-align: left;
  font-size: 0.75em;
}
